{% extends "index.html" %}
{% block body%}
    <link href="../static/contact.css" rel="stylesheet">
      <div class="container mt-5">
        <div class="row">
          <div class="column col-6">
            <div class="card">
              <!--img src="images/selfie.jpg" alt="Jane" style="width:100%"-->
              <div class="container">
                <h2 class="text-dark">Baiwei Yu</h2>
                <p class="title text-dark">Computer Science Major</p>
                <p class="text-dark"><I>"Let's build a better world with what we learn."</I></p>
                <p class="text-dark">baiwei@pdx.edu</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

          <div class="column col-6">
              <div class="card">
                <!--img src="images/monster.jpg" alt="Jane" style="width:100%"-->
                <div class="container">
                  <h2 class="text-dark">Taisheng Guo</h2>
                  <p class="title text-dark">Computer Science Major</p>
		  <p class="text-dark"><I>"Straight As in Computer Science classes"</I></p>
                  <p class="text-dark">taisheng@pdx.edu</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
        </div>
      </div>
{% endblock%}
